.container {
  max-width: 860px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100px 500px 100px;
  grid-template-columns: 100px 600px;
}

.card {
  background-color: gray;
  border-radius: 5px;
  padding: 10px 20px 30px;
  margin-top: 50px;
}

.Icon-circleBack, .Icon-search {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.Icon-search {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%23ccc'%3E%3Cpath d='M14.653 13.165l5.039 5.038a1.053 1.053 0 11-1.489 1.489l-5.038-5.038a8.12 8.12 0 111.488-1.489zm-4.086.585A6.014 6.014 0 105.863 2.68a6.014 6.014 0 004.704 11.07z'/%3E%3C/svg%3E");
  width: 20px;
  height: 20px;
  color: black;
}