.product-item {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 8px;
  display: flex;
  height: 250px;
  padding: 5px;
  text-align: center;
}

.hb-add-to-basket-button{
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background: #ff600021;
  color: #ff6000;
  cursor: pointer;
}

.hb-dont-add-to-basket-button{
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: #eeeaea;
  color: #c7c5c5;
  cursor: pointer;
}

.hb-product-container {
  margin: 15px;
  height: 490px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid white;

  &:hover {
    border: 1px solid rgb(229, 229, 229);
    border-radius: 5px;
    .product-item {
      border: 1px solid white!important;
    }
  }
}

.hide-product-prop {
  height: 135px;
}

.picture-item {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 8px;
  position: absolute;
  display: flex;
  flex: 1 1 0%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  width: 100%;
}

.product-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 640px) {
  .product-row {
    display: block;
  }
}
